@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-scrollbar {
    @apply scrollbar-thin scrollbar-thumb-neutral scrollbar-thumb-rounded-xl;
  }

  .chat-small {
    @apply text-sm opacity-80;
  }

  .resizeHandler {
    @apply relative rounded-full bg-base-content bg-transparent transition-colors hover:bg-item active:bg-item-focus;
  }

  .input-info {
    @apply cursor-pointer px-2 opacity-80;
  }

  .label-error {
    @apply text-error;
  }

  .resize-handler:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    opacity: 1;
    border-radius: 9999px;
    height: 25px;
    @apply bg-primary;
  }

  /* Переопределение menu от daisyUi */

  .menu :where(li:not(.menu-title):not(:empty)) > :where(:not(ul).active),
  .menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):active) {
    @apply bg-item-focus text-base-content;
  }

  .container {
    @apply max-w-[1680px];
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }

  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
}
