@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .custom-scrollbar {
    @apply scrollbar scrollbar-thin scrollbar-thumb-neutral scrollbar-thumb-rounded-xl;
  }

  .chat-small {
    @apply text-sm opacity-80;
  }

  .resizeHandler {
    @apply relative rounded-full bg-base-content bg-transparent transition-opacity hover:bg-neutral active:bg-neutral-focus;
  }

  .resizeHandler:after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 4px;
    opacity: 1;
    border-radius: 9999px;
    height: 25px;
    @apply bg-primary;
  }

  /* Переопределение menu от daisyUi */

  .menu :where(li:not(.menu-title):not(:empty)) > :where(:not(ul).active),
  .menu :where(li:not(.menu-title):not(:empty)) > :where(*:not(ul):active) {
    @apply bg-neutral-focus text-base-content;
  }
}
